<mat-card>
  <form (submit)="onSalvarLembrete(lembreteForm)" #lembreteForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Digite seu nome"
        name="nome"
        [ngModel]="lembrete?.nome"
        required
        minlength="3"
        #nome="ngModel"
      />
      <mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="fone"
        name="fone"
        [ngModel]="lembrete?.fone"
        required
        #fone="ngModel"
      />
      <mat-error *ngIf="fone.invalid">Digite um telefone válido</mat-error>
    </mat-form-field>




    <button color="accent" mat-raised-button>
      Salvar Lembrete
    </button>
  </form>
</mat-card>
